.background {
    fill: none;
    pointer-events: all;
}

.viz {
    width: 100vm;
    height: 100wh;
    overflow: hidden;
}

#states {
    fill: #002F45;
}

#states .active {
    display: none;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    stroke: #fff;
    stroke-width: .4px;
}

.county-watermark {
    fill: #aaa !important;
    stroke: #fff;
    stroke-width: .5px;
}

.county-boundary:hover,
.state:hover {
    fill: orange;
    /* fill: #002F45; */
}

.city-marked {
    display: none;
}

#tooltip-container {
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid;
    display: none;
}

.tooltip_key {
    font-weight: bold;
}

.tooltip_value {
    margin-left: 20px;
    float: right;
}

.import-btn-group {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 0 3px 0 3px;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(#002F45 0%, #67ceff 100%);
    background-image: linear-gradient(#002F45 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
    margin-left: 5px;
    margin-right: 5px;
  }

.square_btn:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}